body {
    font-family: 'Manrope', sans-serif !important;
}

nav {
    margin-bottom: 10px;
}

.form_image {
    width: 200px;
    border: 1px solid black;
    border-radius: 0.375rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form button {
    width: fit-content;
}

.result_field {
    width: 300px;
    border-radius: 10px;
}

.result_number_field {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form_list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.stack-card img {
    width: 30px;
}

.stack-card p {
    margin: 0;
}

.stack-card {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border: 2px solid gainsboro;
    width: fit-content;
    border-radius: 15px;
}

.stack-list {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.center {
    align-items: center;
    gap: 10px;
}

.exam-item {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
}

.exam-item p {
    margin: 0;
}

.exams-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 20px;
}

.invalid-input {
    outline: 2px solid red;
    outline-offset: 2px;
}