<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head.html' %}
    <title>Результаты работы</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="display-6">Введите номер паспорта</h1>
        <form action="check" method="post" class="result_number_field">
            <input type="text" class="form-control" name="number">
            <button class="btn btn-success">Результат</button>
        </form>
        {{ number }}
    </div>
</body>

</html>