<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <title>Проверка ЕГЭ</title>
</head>

<body onload="loadAge()">
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Сервис для проверки экзаменов</h1>
        <br>
        <div class="row">
            <div class="col">
                <h2>О проекте</h2>
                <hr>
                <p>
                    Проект создан с целью лучше разобраться в работе сверточных нейронных сетей. ИИ обучена на датасете
                    символов из набора ЕГЭ (русский алфавит + цифры + минус + запятая). Не работает с бланком экзамена
                    по английскому языку.
                </p>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://avatars.githubusercontent.com/u/75879061?v=4"
                                class="img-fluid rounded-start" alt="ramz1t_photo">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">Автор: <b>Ramz1t</b></h5>
                                    <p class="card-text">
                                        Москва, Россия, <span id="age">1</span> лет.
                                    </p>
                                </div>

                                <a href="https://github.com/ramz1t" target="_blank" class="btn btn-primary">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2>Стэк</h2>
                <div class="stack-list">
                    <div class="stack-card">
                        <img src="{{ url_for('static', path='logos/python.svg') }}" alt="python_logo">
                        <p>Python</p>
                    </div>
                    <div class="stack-card">
                        <img src="{{ url_for('static', path='logos/fastapi.svg') }}" alt="fastapi_logo">
                        <p>FastAPI</p>
                    </div>
                    <div class="stack-card">
                        <img src="{{ url_for('static', path='logos/tensorflow.svg') }}" alt="tensorlow_logo">
                        <p>Tensorflow</p>
                    </div>
                    <div class="stack-card">
                        <img src="{{ url_for('static', path='logos/postgresql.svg') }}" alt="posgresql_logo">
                        <p>PostreSQL</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2>Инструкция по использованию</h2>
            <hr>
            <ol>
                <li>Добавьте экзамен в систему</li>
                <li>Добавьте варианты и ответы к ним</li>
                <li>Скачайте бланки для работы</li>
                <li>Соберите готовые работы и загрузите их</li>
            </ol>
        </div>


    </div>


</body>

</html>