<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head.html' %}
    <title>Управление</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="display-6">Управление БД</h1>
        <a href="manage/exams">Добавить экзамен</a>
        <br>
        <a href="manage/variants">Добавить вариант</a>
    </div>
</body>

</html>