<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head.html' %}
    <title>Управление</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Управление БД</li>
            </ol>
        </nav>
        <h1 class="display-6">Управление БД</h1>
        <br>
        <a href="manage/exams" class="btn btn-primary" tabindex="-1" role="button" style="margin-right: 10px;">Добавить
            экзамен</a>
        <a href="manage/variants" class="btn btn-primary" tabindex="-1" role="button">Добавить вариант</a>
    </div>
</body>

</html>